/Remotecontrol/.vs
/Remotecontrol/.vs/Remotecontrol/v17/.suo
/Remotecontrol/.vs/Remotecontrol/v17/Browse.VC.db
/Remotecontrol/.vs/Remotecontrol/v17/ipch/AutoPCH/d9764f53bbec5bdd/REMOTECONTROL.ipch
/Remotecontrol/.vs/Remotecontrol/v17/ipch/b39a6ed3c2418770.ipch
/Remotecontrol/Remoteclient/Remoteclient.vcxproj.user
/Remotecontrol/Remotecontrol/Remotecontrol.vcxproj.user
